/* layout */
#Login {margin:0 auto; width:100%; height:100%;}
#Login section {margin:0 auto; padding:10% 0; max-width:900px; height:100%;}

/* section */
#Login .loginForm {margin:0 auto; margin-bottom:10px; padding:35px; width:280px; height:100%; background:#fff; border:1px solid #eee; border-radius:5px;}
#Login .loginForm form {text-align:center;}
#Login .loginForm form h2 {font-size:36px; letter-spacing:-3px; color:#FF7F00;}
#Login .loginForm form p {margin:5px 0 20px; font-size:16px; letter-spacing:-1px; color:#FF7F00;}
#Login .loginForm form p.or {display:inline-block; margin:15px 0 10px; color:#777;}
#Login .loginForm form input {margin-top:5px; padding:3px 10px; width:100%; height:35px; border:1px solid #ddd; border-radius:2px; font-size:16px; box-sizing:border-box;}
#Login .loginForm form button {margin-top:5px; padding:3px 10px; width:100%; height:35px; border:1px solid #ddd; border-radius:2px; font-size:16px; color:#fff; font-weight:bold; box-sizing:border-box; cursor:pointer;}
#Login .loginForm form button.login_btn {background:#FF850D; border:1px solid #FF850D;}
#Login .loginForm form button.facebook_login_btn {background:#3F5C9A; border:1px solid #3F5C9A;}

#Login .doSignForm {margin:0 auto; margin-bottom:30px; padding:20px 35px; width:280px; height:100%; background:#fff; border:1px solid #eee; border-radius:5px;}
#Login .doSignForm p {text-align:center; font-size:14px;}
#Login .doSignForm p button {color:#3897f0; background:none; border:none;}
#Login .doSignForm p button:hover {text-decoration:underline;}

#Login .googleplay {margin:0 auto; width:280px; height:100%; text-align:center;}
#Login .googleplay img {width:120px; height:auto;}
