/* 0 ~ 639 */

/* header */
.header_cont .title {
    padding:20px;
    width:auto;
}
.header_cont .title h1 {font-size:50px;}
.header_cont .title span {font-size:26px;}


/* contents2 */
.contents2_cont .portfolio ul li {margin-right:0; width:100%; height:200px;}


/* footer */
.footer_cont ul {width:240px;}
.footer_cont ul li {width:60px;}


