#MyPage article .article_comment {padding:0 20px; background:#eee;}
/*#MyPage article .article_comment .comm {margin-bottom:5px;}*/
#MyPage article .article_comment .comm img.comm_img {margin:10px 0; width:30px; height:30px; border:1px solid #ddd; border-radius:50%; box-sizing:border-box;}
#MyPage article .article_comment .comm span.comm_name {display:inline-block; margin-left:10px; font-weight:bold;}
#MyPage article .article_comment .comm p.comm_content {display:inline-block; margin-left:10px;}
