/* 1200 ~ 1399 */

/*************************************************************************************************/
/************************************  Main Page (Work Page)  ************************************/
/*************************************************************************************************/
/* container */
.header_cont {width:100%;}


/* header */
.header_cont h1 a {padding-left:12px;}



/*************************************************************************************************/
/******************************************  About Page  *****************************************/
/*************************************************************************************************/





/*************************************************************************************************/
/*****************************************  Contact Page  ****************************************/
/*************************************************************************************************/
.contact_sub form {margin:0 20px;}









