/* 768 ~ 1199 */

/*************************************************************************************************/
/************************************  Main Page (Work Page)  ************************************/
/*************************************************************************************************/
/* container */
.contents_cont {width:100%;}
.footer_cont {width:100%;}


/* contents */
.contents_cont ul li {margin-right:0; margin-left:2.5%; width:30%;}
.contents_cont ul li:nth-of-type(3n) {margin-right:2.5%;}


/*************************************************************************************************/
/******************************************  About Page  *****************************************/
/*************************************************************************************************/
.about_sub article h4 {padding:0 25px;}
.about_sub article ul {padding:0 25px;}
.about_sub article ul li {margin:0; padding-right:5%; padding-bottom:40px; width:47.5%;}
.about_sub article ul li:nth-of-type(2n) {padding-right:0;}
.about_sub article ul li p {line-height:22px;}




/*************************************************************************************************/
/*****************************************  Contact Page  ****************************************/
/*************************************************************************************************/
.contact_sub form p label {width:12%;}
.contact_sub form p input {padding-left:18%;}










